<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>

		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/rguhs</property>
		<property name="hibernate.connection.username">dexpertuser</property>
		<property name="hibernate.connection.password">Dspl_2014</property>
		<property name="hibernate.c3p0.min_size">7</property>
		<property name="hibernate.c3p0.max_size">10</property>
		<property name="hibernate.c3p0.timeout">1000</property>
		<property name="hibernate.c3p0.max_statements">50</property>
		<property name="hibernate.c3p0.idle_test_period">100</property>
		<property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
		<property name="hibernate.connection.provider_class">org.hibernate.service.jdbc.connections.internal.C3P0ConnectionProvider</property>
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		<property name="use_sql_comments">true</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.connection.release_mode">after_transaction</property>
		<property name="hibernate.enable_lazy_load_no_trans">true</property>

		<mapping class="com.dexpert.feecollection.main.users.LoginBean" />
		<mapping class="com.dexpert.feecollection.main.users.superadmin.SaBean" />
		<mapping class="com.dexpert.feecollection.main.users.affiliated.AffBean" />
		<mapping
			class="com.dexpert.feecollection.main.users.affiliated.AffFeeCalcDetail" />
		<mapping
			class="com.dexpert.feecollection.main.users.affiliated.AffFeePropBean" />
		<mapping class="com.dexpert.feecollection.main.users.applicant.AppBean" />
		<mapping class="com.dexpert.feecollection.main.payment.transaction.PayBean" />
		<mapping class="com.dexpert.feecollection.main.users.parent.ParBean" />
		<mapping class="com.dexpert.feecollection.main.fee.lookup.LookupBean" />
		<mapping class="com.dexpert.feecollection.main.fee.lookup.values.FvBean" />
		<mapping class="com.dexpert.feecollection.main.fee.config.FcBean" />
		<mapping class="com.dexpert.feecollection.main.fee.PaymentDuesBean" />
		<mapping class="com.dexpert.feecollection.main.fee.config.FeeDetailsBean" />
		<mapping
			class="com.dexpert.feecollection.main.payment.studentPayment.ApplicantFeeCollectionBean" />
		<mapping
			class="com.dexpert.feecollection.main.payment.studentPayment.CourseBean" />
		<mapping
			class="com.dexpert.feecollection.main.payment.studentPayment.FacultyBean" />
		<mapping
			class="com.dexpert.feecollection.main.payment.studentPayment.NationalityBean" />
		<mapping
			class="com.dexpert.feecollection.main.payment.studentPayment.ServiceTypeBean" />
		<mapping class="com.dexpert.feecollection.challan.ChallanBean" />

		<mapping class="com.dexpert.feecollection.challan.TransactionBean" />


	</session-factory>
</hibernate-configuration>
